<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/colors.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <script type="text/javascript" src="~/Assets/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="~/Assets/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/pages/components_modals.js"></script>
    <script type="text/javascript" src="~/Assets/js/core/app.min.js"></script>
    @*<script type="text/javascript" src="~/assets/js/pages/dashboard.js"></script>*@

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body>
    @Html.Partial("_PartialNavbar")
    @RenderBody()
    <!-- Footer -->
    @Html.Partial("_PartialFooter")
    <!-- /footer -->
    @RenderSection("Scripts", required: false)
</body>
</html>

